* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.5;
  background-color: black;
  position: relative;
  color: white;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  font-size: 1.4em;
  background-color: rgba(30, 30, 30, 0.523);
  border-radius: 5px;
}

.header-container > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.header-container > p:nth-child(2) {
  color: rgb(173, 173, 173);
}

.header-container > button {
  margin: 1rem auto;
  background-color: #25d366;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.256);
  border-radius: 10px;
}

.header-container > button > p {
  width: 90%;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}

.header-container > button > img {
  height: 2.2rem;
  width: 50%;
}

/* Main */

main {
  flex: 1;
}

.video_section {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  position: relative;
  cursor: pointer;
  max-width: 560px;
}

.thumbnail img:first-child {
  width: 100%;
  height: 500px;
}

.play {
  position: absolute;
  width: 13rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1rem;
}

.video_section > button,
section > button {
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.4em;
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(47, 76, 222);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.results {
  width: 100%;
  padding: 1rem;
}

.results > p {
  font-size: 1.5em;
  text-align: center;
}

.results > img {
  margin-bottom: 1rem;
}

.instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  background-color: rgba(30, 30, 30, 0.523);
  padding: 1rem;
}

.instagram > h1 {
  text-align: center;
}

.instagram > img {
  height: 10rem;
  width: auto;
  margin: 1rem auto 0;
  border: 3px solid white;
  border-radius: 50%;
}

.instagram > p {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1.2em;
}

.instagram > button {
  display: flex;
  align-items: center;
  border: none;
  padding: 1rem;
  margin: auto;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #d6249f;
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.instagram > button > img {
  height: 3rem;
  width: 50%;
}

.FAQ {
  padding: 1rem;
  font-size: 1.5em;
}

.FAQ ul {
  list-style: none;
}

.FAQ > h3 {
  font-size: 1.5em;
}

.FAQ > ol > li::marker {
  color: rgb(68, 138, 242);
}

.FAQ > ol > li {
  margin: 1.5rem;
}

/* Footer */

header > img,
footer > img {
  background-color: black;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

footer > h2 {
  margin: 1rem;
  font-size: 1.8em;
  font-weight: bolder;
}

.footer-content {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-content > p {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.footer-content > ul {
  list-style: none;
}

.footer-content > ul > li {
  margin: 1rem;
}

.footer-content > button {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.9em;
}

.footer-content > button > img {
  height: 3rem;
  width: 50%;
}

button {
  transition: .1s ease-in-out;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  filter: brightness(110%);
}

@media (max-width: 320px) {
  body,
  p {
    font-size: 0.9em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 0.9em;
  }

}


@media (min-width: 481px) and (max-width: 767px) {
  header > img {
    height: 900px;
    object-fit: cover;
    object-position: center -50px;
    display: block;
  }


  .header-container, article, .instagram {
    width: 70%;
    margin: auto;
  }

  .video_section > button, section > button {
    width: 50%;
  }
  
  .results-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  
  .last {
    width: 70%;
    max-width: 100%;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .results h1 {
    margin: 1rem 0;
  }

  .FAQ {
    width: 90%;
  }
  
  .FAQ > ol > li {
    margin: 2.5rem;
  }

  footer {
    font-size: 1em;
    text-align: center;
  }
  
  h1, h2, h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.2em;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  header > img {
    height: 900px;
    object-fit: cover;
    object-position: center 30%;
    display: block;
  }


  .header-container, article, .instagram {
    width: 70%;
    margin: 2.5rem auto;
  }

  .video_section > button, section > button {
    width: 30%;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    width: 1000px;
  }
  .results-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  
  .last {
    width: 70%;
    max-width: 100%;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .results h1 {
    margin: 1rem 0;
  }

  .FAQ {
    width: 90%;
  }
  
  .FAQ > ol > li {
    margin: 2.5rem;
  }

  footer {
    font-size: 1em;
    text-align: center;
  }
  
  h1, h2, h3, .results > h1, .video_section > h1 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }

  .instagram > h2 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
}


@media (min-width: 1024px) and (max-width: 1279px) {
  header > img, footer > img {
    height: 900px;
    object-fit: cover;
    object-position: center 30%;
    display: block;
  }


  .header-container, article, .instagram, .results, .FAQ {
    width: 60%;
    margin: 2.5rem auto;
  }

  .video_section > button, section > button {
    width: 30%;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    width: 1000px;
  }
  .results-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  
  .last {
    width: 70%;
    max-width: 100%;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .results h1 {
    margin: 1rem 0;
  }

  .FAQ {
    width: 90%;
  }
  
  .FAQ > ol > li {
    margin: 2.5rem;
  }

  footer {
    font-size: 1em;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1, h2, h3, .results > h1, .video_section > h1 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }

  .instagram > h2 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
}


@media (min-width: 1280px) and (max-width: 1439px) {
  header > img, footer > img {
    height: 900px;
    width: 1000px;
    margin: auto;
    object-fit: cover;
    object-position: center 30%;
    display: block;
  }


  .header-container, article, .instagram, .results, .FAQ {
    width: 60%;
    margin: 2.5rem auto;
  }

  .video_section > button, section > button {
    width: 30%;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    width: 1000px;
  }
  .results-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  
  .last {
    width: 70%;
    max-width: 100%;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .results h1 {
    margin: 1rem 0;
  }

  .FAQ {
    width: 90%;
  }
  
  .FAQ > ol > li {
    margin: 2.5rem;
  }

  footer {
    font-size: 1em;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1, h2, h3, .results > h1, .video_section > h1 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }

  .instagram > h2 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
}


@media (min-width: 1440px) {
  header > img, footer > img {
    height: 750px;
    object-fit: cover;
    object-position: center 40%;
    display: block;
    width: 1000px;
    margin: auto;
  }


  .header-container, article, .instagram, .results, .FAQ {
    width: 40%;
    margin: 2.5rem auto;
  }

  .video_section > button, section > button {
    width: 20%;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    width: 1000px;
  }
  .results-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  
  .last {
    width: 70%;
    max-width: 100%;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .results h1 {
    margin: 1rem 0;
  }
  
  .FAQ > ol > li {
    margin: 2.5rem;
  }

  footer {
    font-size: 1em;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1, h2, h3, .results > h1, .video_section > h1 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }

  .instagram > h2 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }

  .FAQ {
    font-size: 1.3em;
  }
}